@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;600&family=Roboto:wght@100;300;400&family=Source+Sans+Pro:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header {
  margin-top: 8rem;
}

.container .header h1 {
  font-weight: 800;
}

.container .weather-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .weather-container .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .weather-container .search-container .autocomplete-container {
  position: absolute;
  margin-top: 3em;
  width: 100%;
  z-index: 999;
  background-color: white;
  border-radius: .5em;
}

.container .weather-container .search-container .autocomplete-container ul {
  list-style-type: none;
  padding-left: 1em;
  -webkit-box-shadow: 0.3em 0.3em #a7a7a7;
          box-shadow: 0.3em 0.3em #a7a7a7;
  border-radius: .5em;
}

.container .weather-container .search-container .autocomplete-container ul li {
  padding: .1em 0;
  font-size: .9em;
  opacity: .9;
}

.container .weather-container .search-container .autocomplete-container ul li:hover {
  cursor: pointer;
  color: #0275d8;
}

.container .weather-container .weather-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .weather-container .weather-input button {
  margin-left: .5em;
}

.container .weather-container .weather-info {
  text-align: center;
  margin-top: 2rem;
}

.container .weather-container .weather-info .condition-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40%;
  margin: 0 auto;
}

.container .weather-container .weather-info .condition-container .temp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 1em;
}

.container .weather-container .weather-info .condition-container .temp-container h1 {
  font-size: 5rem;
}

.container .weather-container .weather-info .condition-container .condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1em;
}

.container .weather-container .weather-info .condition-container .condition h3 {
  font-size: 1.2em;
}

.container .weather-container .weather-info .in {
  padding: 1em 0;
  opacity: .6;
}

.container .weather-container .weather-info .location-container h3 {
  opacity: .6;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
/*# sourceMappingURL=style.css.map */